.main {
    background-color: #dddddd;
    text-align: center;
    border-radius: 16px;
    width: 80%;
    height: 550px;
    margin: 0 auto;
}

h1 {
    color: red;
    text-align: center;
}

.profile_table {
    margin: 80px auto;
    width: 40%;
}

.title {
    font-size: 16px;
    color: blue;
}

.value {
    font-size: 26px;
}

.footer {
    text-align-last: center;
    margin-top: 180px;
}

@media screen and (max-width: 768px), print {
    .main {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    }
    
    .profile_table {
        width: 80%;
    }
    
    h1 {
    color: red;
    text-align: center;
    font-size: 30px;
    }
    
    .title {
    font-size: 14px;
    color: blue;
    }
    
    .value {
    font-size: 20px;
    }
    
    .footer {
    text-align-last: center;
    margin-top: 0;
    }
}