.main {
    background-color: #dddddd;
    text-align: center;
    border-radius: 16px;
    margin: 0 auto;
    width: 80%;
    height: 550px;
}

#timer {
    text-align: right;
}

#timer {
    color: red;
    text-align: center;
    font-size: 120px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.btn {
   text-align: center;
   padding: 20px 0;
}

#start {
    background-color: gray;
    display: inline-block;
    border-radius: 4px;
}

#stop {
    background-color: gray;
    display: inline-block;
    border-radius: 4px;
}

#end {
    background-color: gray;
    display: inline-block;
    border-radius: 4px;
}

.disable {
    pointer-events: none;
}

button {
   text-align: center;
   padding-bottom: 20px;
   /*width: 120px;*/
   width: 20%;
}

a {
   text-align: center;
   padding-bottom: 20px;
   /*width: 120px;*/
   width: 20%;
}

#stop {
    margin: 0 30px;
}

.tasks {
    margin-top: 50px;
    text-align: center;
}

.inactive {
    opacity: 0.6;
}

@media screen and (max-width: 768px), print {
    .main {
    background-color: #dddddd;
    text-align: center;
    border-radius: 16px;
    margin: 0 auto;
    width: 80%;
    height: 400px;
    }
    
    #timer {
        font-size: 50px;
    }
    
    .btn {
   text-align: center;
   padding: 10px 0;
   }
    
}